/api-gateway/dist
/api-gateway/node_modules
/api-gateway/.env

/user-service/dist
/user-service/node_modules
/user-service/.env

/image-service/dist
/image-service/node_modules
/image-service/.env

/notification-service/dist
/notification-service/node_modules
/notification-service/.env

/ws-service/dist
/ws-service/node_modules
/ws-service/.env


# next.js
/client/node_modules
/client/.next/
/client/out/
/client/.env

# production
/client/build

# typescript
*.tsbuildinfo
/client/next-env.d.ts
