/api-gateway/dist
/api-gateway/node_modules
/api-gateway/.env

/user-service/dist
/user-service/node_modules
/user-service/.env

/image-service/dist
/image-service/node_modules
/image-service/.env

# next.js
/client/node_modules
/client/.next/
/client/out/

# production
/client/build

# local env files
/client/.env

# typescript
*.tsbuildinfo
/client/next-env.d.ts
