NEO4J_HOST=bolt://localhost:7687
NEO4J_USERNAME=neo4j
NEO4J_PASSWORD=<your-neo4j-password>

WS_SERVICE_HOST=localhost
WS_SERVICE_PORT=3002

KAFKA_BROKER_1=localhost:9092
KAFKA_BROKER_2=localhost:9093

DEFAULT_AVATAR_URL=<cloudinary-path-to-default-avatar>
DEFAULT_COVER_URL=<cloudinary-path-to-default-cover>
